
 table {
     width: 100%;
}
.icon-image {
  width: 40px;
  height: 40px;
}
.category-code {
  border-left:5px solid;
}
.img32 {
  height: 32px;
  width:32px;
}
.transaction-log-header{
  flex-grow: 1;
  text-align: center;
  margin: 0;
}